
body {background-color: #9D968D;}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CEB888;
}

.tab { margin-left: 40px; }

.split-para      { display:block;margin-left:40px;}
.split-para span { display:block;float:right;width:50%;margin-left:20px;text-align:right;}
